@import "../../styles/helpers/variables/_variable.scss";

.iconWithText__container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  cursor: pointer;

  img {
    height: 25px;
    margin-right: 14px;
  }
  p {
    font-size: 18px;
  }
  .iconWithText__text_grey {
    color: $greyColor;
  }
  .iconWithText__text_black {
    color: $blackColor;
  }
  .iconWithText__text_white {
    color: $whiteColor;
  }
}
